{% extends 'MenuOrderView.html' %}

{% block dishes %}
    {% if dish_received %}
        {% for dish in dish_received %}

            <p xmlns="http://www.w3.org/1999/html"><a class="dish" href="{% url 'dish_order_view' id_reservation id_categories dish.id  %}">{{ dish.name }} </a> {{ dish.price }}</p>
            <form method="post" action="{% url 'dish_order_view' id_reservation id_categories dish.id  %}">
                {% csrf_token %}

            </form>
        {% endfor %}
    {% endif %}

{% endblock %}