{% extends 'Menu.html' %}

{% block dishes %}
    {% if dish_received %}
        {% for dish in dish_received %}

            <p xmlns="http://www.w3.org/1999/html" style="padding-left: 50px;">{{ dish.name }} {{ dish.price }}</p>
{#            <p xmlns="http://www.w3.org/1999/html"><a class="dish" href="{% url 'dish_view' id_categories dish.id %}">{{ dish.name }} </a> {{ dish.price }}</p>#}
            <form method="post" action="{% url 'order_view' %}">
                {% csrf_token %}

            </form>
        {% endfor %}
    {% endif %}

{% endblock %}
