{% extends 'Menu.html' %}
{% block dishes %}
     {% if dish_received %}
        {% for dish in dish_received %}

            <p xmlns="http://www.w3.org/1999/html"> {{ dish.name }}{{ dish.price }}</p>

        {% endfor %}
    {% endif %}
{% endblock %}

{% block ordered %}
        {% for dish in ordered %}
            <div>
                {{ dish.name }} {{ dish.price }}
            </div>
        {% endfor %}
        <div style="float: left">
            <h3>Total Price: {{ total }} </h3>
        </div>


{% endblock %}