{% extends 'Signin.html' %}
{% block content %}

    <div class="sidenav">
        <a href="{% url 'main' %}"><button style=" padding-left: 60px; background-color:black; border-color:black;" type="submit" class="btn btn-secondary">Home</button></a>
        <div class="login-main-text">
            <h2>Restaurant<br> Register Page</h2>
            <p>Register from here to get account.</p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-4 col-sm-12">
            <div class="login-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button style="float:left;margin-bottom: 50px;" type="submit" class="btn btn-secondary">Register</button>
                    </div>
                </form>
                <div>
                    <a href="{% url 'signin' %}">
                        <button type="submit" class="btn btn-black">Back</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}